<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>
<div style="width: 100%; padding: 10px">
    <div style="width: 60%; float:right;">
      <div id="pdfwindow"></div>
      <div id="contents" class="hide">{{contents}}</div>
      <!-- <iframe src="http://127.0.0.1:5000/view/sample_pdf/sample.pdf" height="700" width="100%"></iframe> -->
      <embed src="/sample_pdf/sample.pdf" width="500" height="375">
    </div>
  <div style="width: 20%;">
    <form method="POST">
    <table border=1 cellspacing=2 cellpadding=15>
      <tr>
        <td>Enter x : </td>
        <td><input type="text" name="x" ></td><br><br>
      </tr>
      <tr>
        <td>Enter y : </td>
        <td><input type="text" name="y" ></td><br><br>
      </tr>
      <tr>
        <td  colspan="2" align="center"><input type="submit" name="submit"></td>
      </tr>
    </table>
  </form>
  </div>
</div>
</body>
</html>